﻿

<header id="header" class="@GetHeaderClass()">
    <div class="container">
        @if (IsLong)
        {
            <LongHeader />
        }
        else
        {
            <ShortHeader />
        }
    </div>
</header>

@code{
    private const string longClass = "header long";
    private const string shortClass = "header";

    private string GetHeaderClass()
    {
        if (IsLong)
        {
            return longClass;
        }

        return shortClass;
    }

    [Parameter]
    public bool IsLong { get; set; }

}