﻿

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 0;
}

.header {
    background: url(../img/header-bg.jpg) no-repeat center top / cover;
    padding-top: 30px;
    height: 130px;
}

.long{
    padding-top: 55px;
    height: 940px;
}
