﻿@inject NavigationManager NavigationManager

<ShortHeader />

<div class="offer">
    <h2 class="offer-label">Фермерские продукты</h2>
    <h5 class="offer-description">
        Экологически чистое мясо.
        Успей заказать курицу и яйца,
        пока не разобрали. Действуй!
    </h5>
    <div class="offer-button-container" @onclick="NavigateToProductListing">
        <a class="offer-button-label" href="/productlisting">Посмотреть ассортимент</a>
    </div>
</div>
<div class="offer-background"></div>


@code {

    private void NavigateToProductListing()
    {
        NavigationManager.NavigateTo("/productlisting");
    }
}
