﻿@import '../StyleTemplates/_CommonTemplate.scss';


.offer {
    position: relative;
    z-index: 2;
    margin-top: 170px;
    height: 282px;
    width: 523px;
    color: #fff;
}

.offer-background {
    position: absolute;
    z-index: 1;
    margin-top: -281px;
    height: 281px;
    width: 523px;
    background: #000000;
    filter: blur(310px);
}

.offer-label {
    margin-bottom: 24px;
}

.offer-description {
    width: 486px;
    margin-bottom: 24px;
}

.offer-button-container {
    @extend %color-gradient-offer_button;
    width: 382px;
    height: 69px;
    box-shadow: 0px 15px 50px rgba(125, 32, 3, 0.41);
    border-radius: 55px;
    display: flex;
    align-items: center;
    transition: all 0.1s ease;
    cursor: pointer;
}

.offer-button-container:hover {
    box-shadow: 0px 15px 70px #CA271E;
}

.offer-button-label {
    font-weight: 600;
    font-size: 22px;
    color: #FFF0BC;
    text-decoration: none;
    margin-left: 25px;
    letter-spacing: 0.07em;
}
