﻿@inject NavigationManager NavigationManager

<div class="hat">
    <div class="logo-container" @onclick="NavigateToLanding">
        <img class="logo" src="img/logo.svg" alt="PoultryStore Logo" />
        <h1 class="logo-label">Poultry Store</h1>
    </div>

    <img class="tel-logo" src="img/phone.svg" alt="Phone Logo" />
    <a class="tel" href="tel:+79302842824">
        +7 930 284-28-24
    </a>

    <div class="menu">
        <div class="menu-button" @onclick="ChangeMenuButtonStatus" style="@GetMenuStyle">
            <p style="@GetMenuTextStyle">Меню</p>
        </div>
        <div class="menu-dropdown" style="@GetMenuDropdownStyle">
            <ul>
                <li>Профиль</li>
                <li>История заказов</li>
                <li>Выйти</li>
            </ul>
        </div>
    </div>

    <div class="cart">
        <img class="cart-logo" src="img/cart.svg" alt="Cart Logo" />
        <h6 class="cart-amount">2 350 ₽.</h6>
    </div>
</div>


@code {
    private const string menuActiveStyle = "background: #fff;";
    private const string menuTextActiveStyle = "color: #000;";
    private const string menuDropdownStyle = "visibility: visible;";

    private bool isMenuActive = false;

    private string GetMenuStyle
    {
        get => isMenuActive ? menuActiveStyle : string.Empty;
    }

    private string GetMenuTextStyle
    {
        get => isMenuActive ? menuTextActiveStyle : string.Empty;
    }

    private string GetMenuDropdownStyle
    {
        get => isMenuActive ? menuDropdownStyle : string.Empty;
    }

    public ShortHeader()
    {
    }

    private void ChangeMenuButtonStatus()
    {
        isMenuActive = !isMenuActive;
    }

    private void NavigateToLanding()
    {
        NavigationManager.NavigateTo("");
    }
}
