﻿@import '../StyleTemplates/_CommonTemplate.scss';


.hat {
    position: relative;
    z-index: 2;
    display: flex;
}

.logo-container {
    display: flex;
    cursor: pointer;
}

.logo {
    height: 70px;
    margin-right: 25px;
}

.logo-label {
    margin: 22px 0 0 0;
    color: #fff;
}

.tel-logo {
    height: 28px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 11px;
}

.tel {
    margin: 22px auto 0 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.menu {
    margin-top: 15px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu-button {
    margin-left: auto;
    background: rgba(0, 0, 0, 0.15);
    border: 2px solid #FFFFFF;
    border-radius: 53px;
    padding: 2px 20px;
    z-index: 1;
    cursor: pointer;
}

.menu p {
    margin: 0;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.07em;
    text-transform: lowercase;
    color: #fff;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.menu-dropdown {
    position: absolute;
    margin-left: auto;
    margin-top: 58px;
    padding: 15px 15px 0 15px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 80px #000000;
    border-radius: 10px;
    visibility: hidden;
}

.menu-dropdown ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
}

.menu-dropdown li {
    @extend %color-white;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
}

.cart {
    height: 64px;
    margin-top: 3px;
    margin-left: 46px;
    display: flex;
    align-items: center;
    display: none;
}

.cart-amount {
    margin-bottom: 0;
    margin-left: 12px;
    margin-right: 0px;
    margin-bottom: 0px;
}