﻿.category-carousel-item {
    width: 264px;
    height: 238px;
    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.46);
    border-radius: 20px;
    padding: 22px 24px;
    margin-right: 40px;
}

.category-carousel-item p {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.07em;
    color: #A93B19;
}

.category-carousel-item-image-container {
    width: 193px;
    height: 140px;
    margin: 16px;
    display: flex;
    justify-content: center;
}
