﻿.category-carousel-container {
    margin-top: -211px;
    margin-left: -105px;
    width: 850px;
    height: 329px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1600px) {
    .category-carousel-container {
        margin-left: 0px;
    }
}

.category-carousel-container a {
    width: 68px;
    height: 68px;
    background: #FFF;
    border-radius: 34px;
}

.category-carousel-control-prev {
    margin-right: 38px;
}

.category-carousel-control-next {
    margin-left: 38px;
}

.category-carousel-frame {
    margin-left: -20px;
    padding-left: 20px;
    margin-right: -20px;
    padding-right: 20px;
    width: 608px;
    height: 329px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.category-carousel-frame ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    list-style-type: none;
    transition: transform 100ms;
}
