﻿@import '../../Shared/StyleTemplates/_CommonTemplate.scss';

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 796px;
}

p {
    margin: 0;
}

.login-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

.login-header-button {
    width: 400px;
    height: 68px;
    border: 3px solid #000000;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.login-header-button p {
    font-weight: 800;
    font-size: 28px;
    letter-spacing: 0.12em;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.login-or {
    margin: 0 50px;
    font-weight: 800;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.login-description {
    width: 676px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #000000;
}

.login-frame {
    width: 550px;
    height: 642px;
    padding: 35px;
    margin-top: auto;
    margin-bottom: -35px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0);
}

.login-frame ul {
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    transition: transform 100ms;
}

.login-cart {
    margin-right: 70px;
    padding: 0 18px;
    width: 480px;
    height: 572px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.12), inset 0px 4px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

::deep .login-field {
    margin-top: 28px;
    padding: 0 20px;
    height: 55px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.12em;
}

.login-not-logout {
    margin-top: 28px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

::deep .login-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.login-checkbox + label {
    user-select: none;
    margin: 0;
    width: 28px;
    height: 28px;
}

.login-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 6px;
}

.login-checkbox:checked + label::before {
    border-color: black;
    background: url(../img/check-mark.svg) no-repeat center;
}

.login-not-logout p {
    margin-left: 14px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.12em;
    color: #000;
}

.forgot-password {
    margin-top: 28px;
    margin-left: 20px;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.12em;
    text-decoration: none;
    color: #000;
}

.login-offer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-offer p {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.12em;
    color: #000;
}

.login-offer a {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.12em;
    text-decoration-line: underline;
    color: black;
    cursor: pointer;
}

.login-offer a:hover {
    font-weight: 600;
    color: black;
}

.login-button {
    margin-top: auto;
    margin-bottom: 18px;
    width: 442px;
    height: 105px;
    background: #23BB16;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;

    font-weight: 800;
    font-size: 26px;
    letter-spacing: 0.12em;
    color: #fff;
    text-decoration: none;
}

.registration-button {
    margin-top: auto;
    margin-bottom: 18px;
    width: 442px;
    height: 105px;
    background: #E28A06;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;

    font-weight: 800;
    font-size: 26px;
    letter-spacing: 0.12em;
    color: #fff;
    text-decoration: none;
}
