﻿@using WebApp.Landing.Interfaces
@inject ILoginPresenter presenter

<div class="login-container">
    <div class="login-header">
        <div class="login-header-button" @onclick="SetActiveAndShowLogin" style="@GetDivStyle(buttons.Login)">
            <p style="@GetTextStyle(buttons.Login)">Войдите в аккаунт</p>
        </div>

        <h3 class="login-or">Или</h3>

        <div class="login-header-button" @onclick="SetActiveAndShowRegistration" style="@GetDivStyle(buttons.Registration)">
            <p style="@GetTextStyle(buttons.Registration)">Зарегистрируйтесь</p>
        </div>
    </div>

    <div class="login-description">
        <p>
            Это позволит вам оформить и оплатить заказ,
            а также заказать доставку!
        </p>
    </div>

    <div class="login-frame">
        <ul style="transform: translateX(@TapePosition);">
            <EditForm Model="loginViewModel" OnValidSubmit="presenter.LoginUser">
                <DataAnnotationsValidator />
                <li class="login-cart">
                    <InputText class="login-field" placeholder="Телефон" @bind-Value="loginViewModel.Phone" />
                    <InputText class="login-field" type="password" placeholder="Пароль" @bind-Value="loginViewModel.Password" />
                    <div class="login-not-logout">
                        <InputCheckbox class="login-checkbox" id="login-checkbox-login" name="name" @bind-Value="loginViewModel.RememberMe" />
                        <label for="login-checkbox-login" />
                        <p>Не выходить</p>
                    </div>
                    <a class="forgot-password" href="#">Забыли пароль?</a>
                    <div class="login-offer">
                        <p>Еще нет аккаунта?</p>
                        <a @onclick="SetActiveAndShowRegistration">Зарегистрируйтесь</a>
                    </div>

                    <ValidationSummary />
                    <button class="login-button" type="submit">Войти</button>
                </li>
            </EditForm>

            <EditForm Model="registrationViewModel" OnValidSubmit="presenter.RegisterUser">
                <DataAnnotationsValidator />
                <li class="login-cart">
                    <InputText class="login-field" placeholder="Имя" @bind-Value="registrationViewModel.Name" />
                    <InputText class="login-field" placeholder="Телефон" @bind-Value="registrationViewModel.Phone" />
                    <InputText class="login-field" type="password" placeholder="Придумайте пароль" @bind-Value="registrationViewModel.Password" />
                    <InputText class="login-field" type="password" placeholder="Повторите пароль" @bind-Value="registrationViewModel.ConfirmPassword" />

                    <div class="login-not-logout">
                        <InputCheckbox class="login-checkbox" id="login-checkbox-reg" name="name" @bind-Value="registrationViewModel.RememberMe" />
                        <label for="login-checkbox-reg" />
                        <p>Не выходить</p>
                    </div>

                    <ValidationSummary />
                    <button class="registration-button" type="submit">Зарегистрироваться</button>
                </li>
            </EditForm>
        </ul>
    </div>
</div>


@code {
    private const string loginDivStyle = "background: #23BB16; border: none;";
    private const string registrationDivStyle = "background: #E28A06; border: none;";
    private const string textStyle = "color: #fff;";
    private const int cartWidth = 548;

    private buttons activeButton = buttons.Login;
    private int tapePosition;

    private string TapePosition
    {
        get => $"-{tapePosition.ToString()}px";
    }

    private enum buttons { Login, Registration }

    private LoginViewModel loginViewModel;
    private RegistrationViewModel registrationViewModel;

    public Login()
    {
    }

    protected override async Task OnInitializedAsync()
    {
        (loginViewModel, registrationViewModel) = await presenter.InitAndGetViewModel();
    }

    private void SetTapePosition(buttons button)
    {
        tapePosition = cartWidth * (int)button;
    }

    private void SetActiveAndShowLogin()
    {
        activeButton = buttons.Login;
        SetTapePosition(buttons.Login);
    }

    private void SetActiveAndShowRegistration()
    {
        activeButton = buttons.Registration;
        SetTapePosition(buttons.Registration);
    }

    private string GetDivStyle(buttons button)
    {
        if (button != activeButton)
        {
            return string.Empty;
        }

        return button switch
        {
            buttons.Login => loginDivStyle,
            buttons.Registration => registrationDivStyle,
            _ => throw new ArgumentException($"Enum '{nameof(buttons)}' not contains '{button.ToString()}'")
        };
    }

    private string GetTextStyle(buttons button)
    {
        if (button != activeButton)
        {
            return string.Empty;
        }

        return button switch
        {
            buttons.Login => textStyle,
            buttons.Registration => textStyle,
            _ => throw new ArgumentException($"Enum '{nameof(buttons)}' not contains '{button.ToString()}'")
        };
    }
}
