﻿h3 {
    font-weight: 800;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 0.12em;
    color: #202020;
}

h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.12em;
    color: #202020;
}

.trigger-background {
    margin-top: 100px;
    width: 1120px;
    height: 400px;
    background: rgba(255, 255, 255, 0.42);
    box-shadow: 0px 4px 220px rgba(176, 176, 176, 0.28), inset 0px 0px 50px 10px rgba(155, 155, 155, 0.12);
    border-radius: 50px;
}

.trigger-item {
    margin-top: -500px;
    margin-bottom: 258px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.trigger-label {
    margin-left: 60px;
    margin-bottom: 82px;
    max-width: 472px;
}

.trigger-label-mirrored {
    margin-left: auto;
    margin-right: 60px;
    margin-bottom: 82px;
    max-width: 472px;
    text-align: right;
}

.trigger-cat-list h4 {
    margin-bottom: 20px;
    margin-left: 95px;
}

.trigger-cat-list-mirrored h4 {
    margin-bottom: 20px;
    margin-right: 95px;
    text-align: right;
}

.trigger-image {
    margin-left: auto;
    margin-right: -185px;
    border-radius: 10px;
}

.trigger-image-mirrored {
    margin-right: auto;
    margin-left: -185px;
    border-radius: 10px;
}

@media screen and (max-width: 1600px) {
    .trigger-image {
        margin-right: -70px;
    }

    .trigger-image-mirrored {
        margin-left: -70px;
    }
}
