﻿@import '../../Shared/StyleTemplates/_CommonTemplate.scss';


.category-row {
    margin-left: 35px;
    margin-bottom: -20px;
    padding-top: 15px;
    width: 322px;
    height: 80px;
}

.category-row-inner {
    height: 50px;
    padding-left: 23px;
    background: $primary-100_t;
    display: flex;
    align-items: center;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
    visibility: hidden;
}

.category-row-inner span {
    visibility: visible;
}

%angle-common {
    margin-left: auto;
    margin-right: 0;
    visibility: hidden;
}

%angle-big {
    @extend %angle-common;
    width: 15px;
    height: 15px;
    background: white;
}

%angle-small {
    @extend %angle-common;
    width: 10px;
    height: 10px;
}

.angle-top-big {
    @extend %angle-big;
    margin-top: -15px;
    border-radius: 0px 0px 10px 0px;
}

.angle-top-small {
    @extend %angle-small;
    margin-top: -70px;
    border-radius: 0px 0px 10px 0px;
    box-shadow: 1px 1px 1px 1px rgba(170, 170, 170, 0.25);
}

.angle-bottom-small {
    @extend %angle-small;
    margin-top: 50px;
    border-radius: 0px 10px 0px 0px;
    box-shadow: 1px -1px 1px 1px rgba(170, 170, 170, 0.25);
}

.angle-bottom-big {
    @extend %angle-big;
    margin-top: -10px;
    border-radius: 0px 10px 0px 0px;
}

.mask {
    margin-left: auto;
    margin-right: -10px;
    margin-top: -60px;
    width: 20px;
    height: 70px;
    background: $primary-100_t;

    visibility: hidden;
}

.active {
    visibility: visible;
}