﻿
<div class="category-row">
    <div class="category-row-inner @GetActiveClass()">
        <span>@Label</span>
    </div>

    <div class="mask @GetActiveClass()"></div>

    <div class="angle-top-small @GetActiveClass()"></div>
    <div class="angle-top-big @GetActiveClass()"></div>

    <div class="angle-bottom-small @GetActiveClass()"></div>
    <div class="angle-bottom-big @GetActiveClass()"></div>
</div>


@code {
    private const string activeClass = "active";

    private string GetActiveClass()
    {
        if (IsActive)
        {
            return activeClass;
        }

        return string.Empty;
    }

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public bool IsActive { get; set; }
}
