﻿@using WebApp.Showcase.Interfaces
@inject ICategoryListingPresenter presenter

<div class="category-listing">
    <ul>
        @if (viewModel != null)
        {
            @foreach (var category in viewModel.Categoryes)
            {
                <li @onclick="@(e => ChangeActive(category))">
                    <CategoryRow Label="@category.Label" IsActive="@category.IsActive" />
                </li>
            }
        }
    </ul>
</div>

@code {
    private CategoryListingViewModel viewModel;

    public CategoryListing()
    {
    }

    protected override async Task OnInitializedAsync()
    {
        viewModel = await presenter.InitAndGetViewModel();
    }

    private void ChangeActive(Category inCategory)
    {
        foreach (var category in viewModel.Categoryes)
        {
            category.IsActive = false;
        }

        inCategory.IsActive = true;
    }
}
