﻿@import '../../Shared/StyleTemplates/_CommonTemplate.scss';


.category-listing {
    padding-top: 15px;
    padding-bottom: 50px;
    @extend %effect-shadow_light-20;
    border-radius: 0px 0px 10px 10px;
    background: white;
}

.category-listing ul {
    padding: 0;
}