﻿@import '../../Shared/StyleTemplates/_CommonTemplate.scss';


.product-card {
    margin-right: 24px;
    margin-bottom: 26px;
    width: 222px;
    height: 270px;
    background: white;
    @extend %effect-shadow_light-20;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.in-stock {
    margin-top: 10px;
    margin-right: 17px;
    margin-left: auto;
    @extend %font-bodyS-semibold;
}

.image-container {
    margin-top: 4px;
    margin-left: 9px;
    width: 204px;
    height: 137px;
    border-radius: 10px;
    background: #C4C4C4;
    overflow: hidden;
}

.image-container img {
    height: auto;
    width: 100%;
}

.name {
    margin-top: 11px;
    margin-left: 21px;
    @extend %font-body-semibold;
    line-height: 22px;
}

.price {
    margin-left: 21px;
    margin-bottom: 9px;
    margin-top: auto;
    @extend %font-body-semibold;
}

.add-to-cart-container {
    position: absolute;
    margin-top: 234px;
    margin-left: 135px;
    width: 87px;
    height: 36px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px 0px 20px;
    display: flex;
}

.add-to-cart-container input {
    margin-left: 15px;
    margin-top: 5px;
    @extend %font-body-semibold;
    font-size: 14px;
    background: rgba( 0,0,0,.0);
    width: 28px;
}

.add-to-cart-button {
    margin-left: auto;
    margin-right: 0;
    width: 40px;
    height: 36px;
    background: $success-300_t;
    border-radius: 10px 0px 20px;
    cursor: pointer;
}

.add-to-cart-button img {
    margin-left: 10px;
    margin-top: 7px;
}