﻿

<div class="product-card">
    <span class="in-stock">В наличии: @viewModel.InStock</span>
    <div class="image-container">
        <img src="@viewModel.Image" alt="Product image" />
    </div>
    <span class="name">@viewModel.Name</span>
    <span class="price">@viewModel.Price</span>
    <div class="add-to-cart-container">
        <input class="login-field" type="text" value="@viewModel.Amount" placeholder="@viewModel.DefaultAmount"/>
        <div class="add-to-cart-button" @onclick="AddToCart">
            <img src="img/shopping-cart-mini.svg" alt="Cart Logo" />
        </div>
    </div>
</div>

@code {

    [Parameter]
    public Product viewModel { get; set; }

    private void AddToCart()
    {
        //Some unnecessary logic
        viewModel.Amount = "0";
    }

}
