﻿@inherits LayoutComponentBase
@layout MainLayout

<Header />

<section class="page">
    <div class="container">
        <div class="sidebar">
            <CategoryListing />
        </div>

        <div class="main">
            @Body
        </div>
    </div>
</section>
