﻿@import '../../Shared/StyleTemplates/_CommonTemplate.scss';


.page {
    height: 850px;
    background: $primary-100_t;
}

.container {
    padding: 0;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 357px;
}