﻿@page "/productlisting"
@using WebApp.Showcase.Interfaces
@inject IProductListingPresenter presenter

<div class="product-listing">
    @if (viewModel != null)
    {
        @foreach (var product in viewModel.Products)
        {
            <ProductCard viewModel="@product" />
        }
    }
</div>


@code {
    private ProductListingViewModel viewModel;

    public ProductListing()
    {
    }

    protected override async Task OnInitializedAsync()
    {
        viewModel = await presenter.InitAndGetViewModel();
    }

}
