﻿@import 'ColorsTemplate';
@import 'FontsTemplate';
@import 'EffectsTemplate';


h1 {
    @extend %font-headline-1;
}

h2 {
    @extend %font-headline-2;
}

h5 {
    @extend %font-headline-5;
}

h6 {
    @extend %font-headline-6;
}

ul {
    list-style-type: none;
}

li {
    @extend %font-list;
}

input {
    @extend %font-input;
    border: none;
    outline: none;
}

p {
    @extend %font-p;
}

a {
    @extend %font-a;
}

span {
    @extend %font-span;
}