﻿%font-family-montserrat {
    font-family: Montserrat;
    font-style: normal;
}

%font-headline-1 {
    @extend %font-family-montserrat;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.05em;
}

%font-headline-2 {
    @extend %font-family-montserrat;
    font-weight: 800;
    font-size: 32px;
    letter-spacing: 0.07em;
}

%font-headline-5 {
    @extend %font-family-montserrat;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.07em;
    line-height: 30px;
}

%font-headline-6 {
    @extend %font-family-montserrat;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.07em;
}


@mixin body {
    @extend %font-family-montserrat;
    font-size: 18px;
    letter-spacing: 0.04em;
}

%font-body-semibold {
    @include body;
    font-weight: 600;
}

%font-body-bold {
    @include body;
    font-weight: 700;
}


@mixin bodyS {
    @extend %font-family-montserrat;
    font-size: 12px;
    letter-spacing: 0.04em;
}

%font-bodyS-semibold {
    @include bodyS;
    font-weight: 600;
}

%font-bodyS-bold {
    @include bodyS;
    font-weight: 700;
}


%font-button {
    @extend %font-family-montserrat;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0.07em;
}

%font-list {
    @extend %font-family-montserrat;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.07em;
    text-transform: lowercase;
}

%font-input {
    @extend %font-family-montserrat;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.12em;
}

%font-p {
    @extend %font-family-montserrat;
    text-transform: none;
}

%font-a {
    @extend %font-family-montserrat;
    text-transform: none;
}

%font-span {
    @extend %font-family-montserrat;
    @extend %font-body-semibold;
    text-transform: none;
}
