﻿@import 'StyleTemplates/_CommonTemplate.scss';

.main {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.05em;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 0;
}

.footer {
    height: 246px;
    background: $gray-900_s;
    padding: 84px;
}

.footer-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 70px;
    margin-right: 25px;
}

.logo-label {
    margin: 0;
    color: #fff;
}

.tel-logo {
    height: 28px;
    margin-left: 100px;
    margin-right: 11px;
}

.tel {
    margin-right: auto;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.address-container {
    width: 283px;
}

.address {
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}

.address-container p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}
