﻿@page "/"

<div class="main">
    <Header IsLong="true" />

    <section id="carousel" class="carousel">
        <div class="container">
            <Carousel />
        </div>
    </section>

    <section id="triggers" class="triggers">
        <div class="container">
            <Trigger Header="Всегда свежие и натуральные продукты"
                     Paragraphs="paragraphs[0]"
                     ImageSource="img/trigger-img1.jpg"
                     Backlight="114, 38, 5, 0.4"
                     isMirrored="false" />

            <Trigger Header="У вас есть свое хозяйство?"
                     Paragraphs="paragraphs[1]"
                     ImageSource="img/trigger-img2.jpg"
                     Backlight="218, 95, 90, 0.4"
                     isMirrored="true" />

            <Trigger Header="Птицы с приданным"
                     Paragraphs="paragraphs[2]"
                     ImageSource="img/trigger-img3.jpg"
                     Backlight="107, 76, 46, 0.4"
                     isMirrored="false" />
        </div>
    </section>

    <section id="gallery" class="gallery">
        <div class="container">
            <h2 class="gallery-label">Галерея</h2>
            <div class="gallery-container">
                <div class="gallery-column">
                    <img src="img/gallery1.jpg" alt="Фотография из галереи" class="gallery-image1" />
                    <img src="img/gallery2.jpg" alt="Фотография из галереи" class="gallery-image2" />
                </div>
                <div class="gallery-column">
                    <img src="img/gallery3.jpg" alt="Фотография из галереи" class="gallery-image3" />
                    <img src="img/gallery4.jpg" alt="Фотография из галереи" class="gallery-image4" />
                </div>
                <div class="gallery-column">
                    <img src="img/gallery5.jpg" alt="Фотография из галереи" class="gallery-image5" />
                    <img src="img/gallery6.jpg" alt="Фотография из галереи" class="gallery-image6" />
                </div>
            </div>

            <div class="bottom-offer">
                <a class="bottom-offer-button-label" href="productlisting">Посмотреть ассортимент</a>
            </div>
        </div>
    </section>

    <section id="login" class="login">
        <div class="container">
            <Login />
        </div>
    </section>
</div>


@code {
    private const string menuActiveStyle = "background: #fff;";
    private const string menuTextActiveStyle = "color: #000;";
    private const string menuDropdownStyle = "visibility: visible;";

    private List<List<string>> paragraphs;
    private bool isMenuActive = false;

    private string GetMenuStyle
    {
        get => isMenuActive ? menuActiveStyle : string.Empty;
    }

    private string GetMenuTextStyle
    {
        get => isMenuActive ? menuTextActiveStyle : string.Empty;
    }

    private string GetMenuDropdownStyle
    {
        get => isMenuActive ? menuDropdownStyle : string.Empty;
    }

    public Landing()
    {
        ParagraphInit();
    }

    private void ChangeMenuButtonStatus()
    {
        isMenuActive = !isMenuActive;
    }

    private void ParagraphInit()
    {
        paragraphs = new();

        paragraphs.Add(new List<string>()
        {
            "Мясо курицы",
            "Мясо утки",
            "Мясо индюшки",
            "Куриные яйца"
        });

        paragraphs.Add(new List<string>()
        {
            "Несушки",
            "Цыплята",
            "Породистые птицы",
            "Яйца в инкубатор"
        });

        paragraphs.Add(new List<string>()
        {
            "Комбикорм",
            "Зерно",
            "Кормушки и поилки"
        });
    }
}
