﻿@import '../../Shared/StyleTemplates/_CommonTemplate.scss';

.main {
    font-family: 'Montserrat', sans-serif;
}

.triggers {
    padding-top: 138px;
}

.gallery-container {
    height: 750px;
    display: flex;
    align-items: space-between;
}

.gallery-label {
    margin-bottom: 45px;
}

.gallery-column {
    width: 356px;
    height: 670px;
    margin-right: 25px;

    display: flex;
    align-items: space-between;
    justify-content: space-between;
    flex-direction: column;
}

.gallery-image1 {
    color: rgba(116, 73, 70, 0.5);
    filter: drop-shadow(0px 10px 20px);
}

.gallery-image2 {
    color: rgba(231, 182, 155, 0.5);
    filter: drop-shadow(0px 10px 20px);
    margin-top: auto;
}

.gallery-image3 {
    color: rgba(154, 133, 105, 0.5);
    filter: drop-shadow(0px 10px 20px);
}

.gallery-image4 {
    color: rgba(253, 113, 60, 0.5);
    filter: drop-shadow(0px 10px 20px);
    margin-top: auto;
}

.gallery-image5 {
    color: rgba(155, 178, 77, 0.5);
    filter: drop-shadow(0px 10px 20px);
}

.gallery-image6 {
    color: rgba(169, 153, 133, 0.5);
    filter: drop-shadow(0px 10px 20px);
    margin-top: auto;
}

.gallery-column img {
    border-radius: 10px;
    width: 358px;
    transition: all 0.5s ease;
}

.gallery-column img:hover {
    filter: drop-shadow(0px 20px 70px);
    width: 372px;
    margin-left: -7px;
}

.bottom-offer {
    width: 470px;
    height: 83px;
    margin-top: 87px;
    margin-left: 325px;
    margin-bottom: 87px;
    padding: 0 34px;
    display: flex;
    align-items: center;

    @extend %color-gradient-offer_button_2;
    box-shadow: 0px 12px 40px rgba(208, 30, 30, 0.49);
    border-radius: 30px;
    transition: all 0.1s ease;
}

.bottom-offer:hover {
    box-shadow: 0px 0px 100px rgba(208, 30, 30, 0.8);
}

.bottom-offer a {
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.12em;
    color: #fff;
    text-decoration: none;
}

.login {
    height: 986px;
    padding: 82px;
    @extend %color-gradient-background;
}